<% provide(:page_title, 'Get Started') %>
<% provide(:get_started_active, 'active') %>

<h2 class="text-center mt-5"><%= t('.setup') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center justify-content-lg-evenly align-items-lg-baseline">

    <div class="col-12 col-sm-10 col-md-8 col-lg-4">
      <h6 class="mt-4"><%= t('.address') %></h6>

      <div class="field">
        <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: t('.name') %>
        <p>* <%= t('.required') %></p>
      </div>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: t('.email') %>
        <p class="m-0">* <%= t('.required') %></p>
        <div class="form-check mb-3">
          <%= f.check_box :allow_email, class: 'form-check-input' %>
          <%= f.label :allow_email, t('.allow'), class: 'form-check-label' %>
        </div>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: t('.password') %>
        <p>* <%= t('.required') %><br><%= t('.passRestrictions') %></p>
      </div>
    </div>

    <div class="col-12 col-sm-10 col-md-8 col-lg-4">
      <h6 class="mt-4"><%= t('.contacts') %></h6>

      <div class="field">
        <%= f.text_field :phone, autofocus: true, class: 'form-control mb-3', placeholder: t('.phone'), 'data-mask': '+38000-000-00-00' %>
      </div>

      <div class="field">
        <%= f.text_field :telegram, autofocus: true, class: 'form-control mb-3', placeholder: t('.telegram'), 'data-mask': '+38000-000-00-00' %>
      </div>

      <div class="field">
        <%= f.text_field :viber, autofocus: true, class: 'form-control mb-3', placeholder: t('.viber'), 'data-mask': '+38000-000-00-00' %>
      </div>

      <div class="field">
        <%= f.text_field :facebook, autofocus: true, class: 'form-control mb-3', placeholder: t('.facebook') %>
      </div>

      <div class="field">
        <%= f.text_field :instagram, autofocus: true, class: 'form-control mb-3', placeholder: t('.instagram') %>
      </div>
    </div>
  </div>

  <div class="actions mt-4 d-flex justify-content-center">
    <%= f.submit t('.createProfile'), class: 'btn btn-dark mb-4' %>
  </div>
<% end %>
