<%= form_with model: [@user.pets.build] do |form| %>

  <div class="field">
    <%= form.label :name, t('.pleaseProvideThePetNameIfAny'), class: 'fw-bold' %>
    <%== form.text_field :name, autofocus: true, class: 'form-control mb-2', placeholder: true %>
  </div>

  <div class="field">
    <p class="p-0 m-0"><b><%= t('.mypet_html') %></b></p>
    <%= form.select(:species, Pet.species.map { |key, value| [ t('enum.species.' + key), key ] }, { prompt: t('.selectPetSpecies')}, { class: 'form-select mb-2', required: true }) %>
    <p class="mb-2">* <%= t('devise.registrations.new.required') %></p>
  </div>

  <div class="field">
    <p class="r-0 m-0"><b><%= t('.provideTheBreedIfAny') %></b></p>
    <%== form.text_field :breed, autofocus: true, class: 'form-control mb-2', placeholder: true %>
  </div>

  <div class="field">
    <p class="mb-0"><b><%= t('.select_html') %></b></p>
    <p class="mb-0"><%= form.radio_button :sex, 'male', required: true, class: 'form-check-input me-2' %> <%= t('enum.sex.male') %></p>
    <p class="mb-0"><%= form.radio_button :sex, 'female', class: 'form-check-input me-2' %> <%= t('enum.sex.female') %></p>
    <p class="mb-0"><%= form.radio_button :sex, 'undefined', class: 'form-check-input me-2' %> <%= t('enum.sex.undefined') %></p>
    <p class="mb-2">* <%= t('devise.registrations.new.required') %></p>
  </div>

  <div class="field">
    <p class="mb-2">
      <%= form.check_box :sterilized, class: 'form-check-input ' %>
      <b><%= form.label :sterilized, t('.pet'), class: 'ms-2 font-bold' %></b>
    </p>
  </div>

  <div class="field mb-2">
    <b><%= form.label :date_of_birth, t('.birthday_html') %></b>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text fa-solid fa-calendar-days form-control" , style="background-color: white;"></div>
      </div>
      <%= form.text_field :date_of_birth, class: 'form-control', style: 'background-color: white;',
                          data: {
                            controller: "flatpickr",
                            flatpickr_date_format: "%B %d %Y",
                            flatpickr_min_date: Time.zone.now - 15.years,
                            flatpickr_max_date: Time.zone.now } %>
    </div>
  </div>

  <div class="field">
    <%== form.text_field :color, autofocus: true, required: true, class: 'form-control', placeholder: t('.color') %>
    <p class="mb-2">* <%= t('devise.registrations.new.required') %></p>
  </div>

  <div class="field">
    <%== form.text_area :additional_info, autofocus: true, class: 'form-control mb-2', placeholder: t('.addInfo') %>
  </div>

  <div class="field">
    <%= form.label :social_network_link, t('.pleaseShareThePet`sSocialNetworkLinkIfAny'), class: 'fw-bold' %>
    <%== form.text_field :social_network_link, autofocus: true, class: 'form-control mb-2', placeholder: true %>
  </div>

  <div class="container d-flex justify-content-center">
    <%= form.submit t('.save'), class: 'btn btn-dark' %>
    <%= link_to t('.cancel'), user_path, class: 'btn btn-outlined-dark' %>
  </div>
<% end %>
