<div class="row align-items-center justify-content-center h-100">
  <div class="text-center col">
    <h5><%= t('.sorry') %></h5>
    <h5><%= t('.please') %></h5>
    <h5><%= t('.click') %>
      <%= link_to t('.here'), pets_path, class: 'text-dark text-decoration-underline' %>
      <%= t('.see') %></h5>
  </div>
</div>
