<h2><%= @user.name %></h2>
<% if current_user.id == @user.id %>
  <%= link_to t('.addPet'), user_path, class: 'fa-solid fa-circle-plus text-dark text-decoration-none pet-form-display mb-2 mt-2' %>
  <div class="mt-4 mb-4" , id="pet-container">
    <%= render 'pets/form' %>
  </div>
  <h5 class="mt-4"><%= t('.yourpets_html') %></h5>
<% end %>
<div class="pets-wrapper">
  <p id='your-pets'></p>
  <% if current_user.pets.empty? %>
    <p><%= t('.descr_html') %></p>
  <% else %>
    <% @pets.each do |pet| %>
      <div id="pet-<%= pet.id %>">
      <span>
  <%= link_to pet_path(pet) do %>
    <% if pet.avatar.attached? %>
      <%= image_tag pet.avatar, width: '50px', height: '50px', style: 'object-fit: cover;', class: 'rounded-circle border border-dark mt-2 mb-2' %>
    <% else %>
      <% if pet.cat? %>
        <%= image_tag("cat1.jpg", width: '50px', height: '50px', style: 'object-fit: cover;', class: 'rounded-circle border border-dark mt-2 mb-2') %>
      <% elsif pet.dog? %>
        <%= image_tag("dog1.jpg", width: '50px', height: '50px', style: 'object-fit: cover;', class: 'rounded-circle border border-dark mt-2 mb-2') %>
      <% end %>
    <% end %>
          <span class="pet-link text-dark"><%= pet.name %></span>
  <% end %>
        <% if current_user.id == @user.id %>
    <%= link_to '', edit_pet_path(pet), class: 'fa-solid fa-pen-to-square text-dark text-decoration-none' %>
          <%= link_to '', pet_path(pet), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'fa-solid fa-trash text-dark text-decoration-none', id: 'pet-item' %>
          <% if pet.lost? %>
      <span class="badge alert-danger"><%= (pet.status).titleize %></span>
            <%= link_to t('.petFound'), find_pet_path(pet), method: :post, data: { confirm: 'Have you really found your pet?' }, class: 'ms-2 text-success text-decoration-underline' %>
    <% elsif pet.found? %>
      <span class="badge alert-warning"><%= (pet.status).titleize %></span>
            <%= link_to t('.masterFound'), find_master_pet_path(pet), method: :post, data: { confirm: 'Have you really found pet master?' }, class: 'ms-2 text-success text-decoration-underline' %>
    <% elsif pet.to_adopt? %>
      <span class="badge alert-primary"><%= (pet.status).titleize %></span>
            <%= link_to t('.petAdopted'), adopt_pet_pet_path(pet), method: :post, data: { confirm: 'Is the pet really adopted?' }, class: 'ms-2 text-success text-decoration-underline' %>
     <% elsif pet.adopted? || pet.master_found? %>
        <span class="badge alert-dark"><%= (pet.status).titleize %></span>
          <% end %>
  <% end %>
  </span>
      </div>
    <% end %>
  <% end %>
  <div class="pag">
    <%= paginate @pets %>
  </div>
</div>
