<div class="row ms-lg-3 mb-3">
  <% @pets.each do |pet| %>
    <div class="pet-container text-center col-lg-3 col-sm-4 col-12">
      <%= link_to pet_path(pet) do %>
        <% if pet.avatar.attached? %>
          <%= image_tag pet.avatar, width: '150px', height: '150px', style: 'object-fit: cover;', class: 'rounded-circle border border-dark' %>
        <% else %>
          <% if pet.cat? %>
            <%= image_tag("cat1.jpg", width: '150px', height: '150px', style: 'object-fit: cover;', class: 'rounded-circle border border-dark') %>
          <% elsif pet.dog? %>
            <%= image_tag("dog1.jpg", width: '150px', height: '150px', style: 'object-fit: cover;', class: 'rounded-circle border border-dark') %>
          <% end %>
        <% end %>
        <p class="text-dark mb-2"><b><%= pet.name %></b><br>
          <%= truncate(pet.additional_info, length: 50, omission: '...', style: 'word-wrap: break-word;') %></p>
      <% end %>
    </div>
  <% end %>
</div>
