<% provide(:page_title, 'Pet Profile') %>
<% provide(:profile_active, 'active') %>

<div class="d-flex flex-column flex-lg-row mt-5 align-items-center align-items-lg-baseline ">

  <div class="col-12 col-sm-10 col-md-8 col-lg-2 d-flex flex-column mt-3">
    <%= link_to t('.profiles'), pets_path, class: 'btn btn-outline-dark mb-2' %>
    <%= link_to t('.master'), user_path(@pet.user), class: 'btn btn-outline-dark mb-2' %>
  </div>

  <div class="col-12 col-sm-10 col-md-8 col-lg-8 text-center">
    <h2><%= t('.profile') %></h2>
  </div>

  <div class="col-12 col-sm-10 col-md-8 col-lg-2 text-start text-lg-end">
    <% if current_user == @pet.user %>
      <%= link_to t('.edit'), edit_pet_path(@pet), class: 'btn btn-outline-dark mb-2 w-100' %>
      <%= link_to t('.delete'), pet_path(@pet), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-dark mb-2 w-100' %>
      <% if @pet.lost? %>
        <%= link_to t('.petFound'), find_pet_path(@pet), method: :post, data: { confirm: 'Have you really found your pet?' }, class: 'btn btn-outline-dark mb-2 w-100' %>
      <% elsif @pet.found? %>
        <%= link_to t('.masterFound'), find_master_pet_path(@pet), method: :post, data: { confirm: 'Have you really found pet master?' }, class: 'btn btn-outline-dark mb-2 w-100' %>
      <% elsif @pet.to_adopt? %>
        <%= link_to t('.petAdopted'), adopt_pet_pet_path(@pet), method: :post, data: { confirm: 'Is the pet really adopted?' }, class: 'btn btn-outline-dark mb-2 w-100' %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="d-flex flex-column flex-lg-row align-items-center align-items-lg-start baseline mt-4">
  <div class="col-12 col-sm-10 col-md-8 col-lg-4">
    <% if @pet.avatar.attached? %>
      <%= image_tag @pet.avatar, style: 'width: 100%; max-height: 300px; object-fit: cover;', class: 'border border-dark rounded-3' %>
    <% else %>
      <% if @pet.cat? %>
        <%= image_tag("cat1.jpg", style: 'width: 100%; max-height: 300px; object-fit: cover;', class: 'border border-dark rounded-3') %>
      <% elsif @pet.dog? %>
        <%= image_tag("dog1.jpg", style: 'width: 100%; max-height: 300px; object-fit: cover;', class: 'border border-dark rounded-3') %>
      <% end %>
    <% end %>
  </div>

  <div class="col-12 col-sm-10 col-md-8 col-lg-6">
    <h5 class="ms-4"><%= t('.info') %></h5>

    <% unless @pet.home_again? || @pet.home? %>
      <p class="mb-2 ms-4 text-danger">
        This pet is <%= @pet.status.humanize.downcase %>!
      </p>
    <% end %>

    <p class="mb-2 ms-4">
      <b><%= t('.name') %></b>
      <%= word_wrap(@pet.name, line_width: 15) %>
    </p>

    <p class="mb-2 ms-4">
      <b><%= t('.species') %></b>
      <%= t('enum.species.'.concat(@pet.species)) %>
    </p>

    <p class="mb-2 ms-4">
      <% if @pet.breed? %>
        <b><%= t('.breed') %></b>
        <%= word_wrap(@pet.breed) %>
      <% end %>
    </p>

    <p class="mb-2 ms-4">
      <b><%= t('.sex') %></b>
      <%= t('enum.sex.'.concat(@pet.sex)) %>
    </p>

    <p class="mb-2 ms-4">
      <b><%= t('.sterile') %></b>
      <%= t(@pet.sterilized?.to_s) %>
    </p>

    <% if @pet.date_of_birth? %>
      <p class="mb-2 ms-4">
        <b><%= t('.dateOfBirth') %></b>
        <%= l(@pet.date_of_birth, format: :long) %>
      </p>
    <% end %>

    <p class="mb-2 ms-4">
      <b><%= t('.color') %></b>
      <%= word_wrap(@pet.color) %>
    </p>

    <p class="mb-2 ms-4">
      <% if @pet.additional_info? %>
        <b><%= t('.addInfo') %></b>
        <%== word_wrap(@pet.additional_info) %>
      <% end %>
    </p>

    <p class="mb-2 ms-4">
      <% if @pet.social_network_link? %>
        <b><%= t('.socialNetwork') %></b>
        <%= link_to @pet.social_network_link, @pet.social_network_link, class: 'text-dark text-decoration-underline', target: '_blank' %>
      <% end %>
    </p>
  </div>
</div>
