<% provide(:page_title, 'Pet Profile') %>
<% provide(:profile_active, 'active') %>

<div class="row mt-5">
  <div class="col-2">
    <%= link_to t('.profiles'), user_pets_path, class: 'btn btn-outline-dark mb-2' %>
    <%= link_to t('.master'), user_path(@user), class: 'btn btn-outline-dark' %>
  </div>
  <div class="col-10 text-center">
    <h2 class="m-0"><%= t('.profile') %> <%= (@pet.name).upcase %><%= t('.pet') %></h2>
  </div>
</div>

<div class="row mb-5 mt-5">
  <div class="col-12 text-center mt-3 mb-3 col-sm-4">
    <% if @pet.avatar.attached? %>
      <%= image_tag @pet.avatar, style: 'width: 100%; object-fit: cover;', class: 'border border-dark' %>
    <% else %>
      <% if @pet.cat? %>
        <%= image_tag("cat1.jpg", style: 'width: 100%; object-fit: cover;', class: 'border border-dark') %>
      <% elsif @pet.dog? %>
        <%= image_tag("dog1.jpg", style: 'width: 100%; object-fit: cover;', class: 'border border-dark') %>
      <% end %>
    <% end %>
  </div>

  <div class="col-12 text-center mt-3 mb-2 col-sm-8 text-sm-start">
    <h5 class="ms-4"><%= t('.info') %>:</h5>

    <p class="mb-2 ms-4">
      <b><%= t('.species') %>:</b>
      <%= @pet.species %>
    </p>

    <p class="mb-2 ms-4">
      <% if @pet.breed? %>
        <b><%= t('.breed') %>:</b>
        <%= @pet.breed %>
      <% end %>
    </p>

    <p class="mb-2 ms-4">
      <b><%= t('.sex') %>:</b>
      <%= @pet.sex %>
    </p>

    <p class="mb-2 ms-4">
      <b><%= t('.sterile') %>:</b>
      <% if @pet.sterilized? %>
        <%= t('.yes') %>
      <% else %>
        <%= t('.no') %>
      <% end %>
    </p>

    <p class="mb-2 ms-4">
      <b><%= t('.dateOfBirth') %>:</b>
      <%= @pet.date_of_birth.to_time.strftime('%B %e, %Y') %>
    </p>

    <p class="mb-2 ms-4">
      <b><%= t('.color') %>:</b>
      <%= @pet.color %>
    </p>

    <p class="mb-2 ms-4">
      <% if @pet.additional_info? %>
        <b><%= t('.addInfo') %>:</b>
        <%= @pet.additional_info %>
      <% end %>
    </p>
  </div>
</div>
