<% provide(:page_title, 'Pet Profile') %>
<% provide(:profile_active, 'active') %>

<div class="row mt-5">
  <div class="col-12 text-center col-md-3 col-lg-4 p-0">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, style: 'width: 100%; object-fit: cover;', class: 'border border-dark' %>
    <% else %>
      <%= image_tag("avatar.png", height: '200', width: '200', class: 'rounded-circle border border-dark') %>
    <% end %>
  </div>

  <div class="col-12 text-center col-md-5 col-lg-5 p-0">
    <%= render 'pets/pets' %>
    <% if current_user.id == @user.id %>
      <%= link_to t('.addPet'), user_path, class: 'fa-solid fa-circle-plus text-dark text-decoration-none pet-form-display mb-2 mt-2' %>
      <div class="mt-4 mb-4" , id="pet-container">
        <%= render 'pets/form' %>
      </div>
    <% end %>
  </div>

  <% if current_user.id == @user.id %>
    <div class="col-12 text-center text-md-end col-md-4 col-lg-2 p-0">
      <%= link_to "I`ve Lost my Pet", new_post_path(category_id: 8), class: 'btn btn-outline-dark m-2 d-block w-100' %>
      <%= link_to "I`ve Found a Pet", new_post_path(category_id: 9), class: 'btn btn-outline-dark m-2 d-block w-100' %>
      <%= link_to "Find Family for a Pet", new_post_path(category_id: 10), class: 'btn btn-outline-dark m-2 d-block w-100' %>
      <%= link_to "Share Success Story", new_post_path(category_id: 11), class: 'btn btn-outline-dark m-2 d-block w-100' %>
      <%= link_to "Share Recommendation", new_post_path(category_id: 12), class: 'btn btn-outline-dark m-2 d-block w-100' %>
      <%= link_to t('.editProfile'), edit_user_registration_path, class: 'btn btn-outline-dark m-2 d-block w-100' %>
      <%= link_to t('.destroyProfile'), registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-outline-dark m-2 d-block w-100' %>
    </div>
    </div>
  <% end %>

  <script>document.querySelectorAll('.pet-form-display').forEach((el) => {
      el.addEventListener('click', (ev) => {
          ev.preventDefault();
          el.nextElementSibling.style = 'display: block'
      })
  })
  </script>
