<% provide(:page_title, 'Reset Password') %>

<div class="row d-flex justify-content-center">
  <div class="col-md-6 col-lg-4">
    <h2 class="text-center mt-5 mb-5"><%= t('.forgotPass') %></h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="container text-center">
        <%= render "devise/shared/error_messages", resource: resource %>
      </div>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: t('.email') %>
      </div>

      <div class="actions mt-3 text-center">
        <%= f.submit t('.sendMe'), class: 'btn btn-dark mb-3' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
