<% if @lost_posts.any? %>
  <h4 class="mt-5 text-center"><%= t('.recently_lost') %></h4>

  <div class="row justify-content-center justify-content-lg-evenly">

    <% @lost_posts.each do |lost_post| %>
      <div class="card p-0 m-4 border border-dark col-10 col-md-5 col-lg-3">

        <% if lost_post.pet.avatar.attached? %>
          <%= image_tag lost_post.pet.avatar, class: 'card-img-top w-100 rounded-0', style: 'height: 200px; object-fit: cover' %>
        <% else %>
          <% if lost_post.pet.cat? %>
            <%= image_tag("cat1.jpg", class: 'card-img-top w-100 rounded-0', style: 'height: 200px; object-fit: cover') %>
          <% elsif lost_post.pet.dog? %>
            <%= image_tag("dog1.jpg", class: 'card-img-top w-100 rounded-0', style: 'height: 200px; object-fit: cover') %>
          <% end %>
        <% end %>

        <div class="card-body pb-0">
          <h5 class="card-title text-center"><b><%= lost_post.pet.name.truncate(20, omission: '... ') %></b></h5>
          <h5 class="card-title text-center"><b><%= t('.lost') %></b></h5>

          <p class="card-text m-0 p-0">
            <% if lost_post.date %>
              <%= t('.date') %>
              <b><%= l(lost_post.date, format: :short) %>.</b>
            <% end %>

            <%= t('.pet_info') %> <%= lost_post.pet.color %> <%= lost_post.pet.species %>
            <% if lost_post.pet.date_of_birth && age(lost_post.pet) > 0 %><%= t('.pet_age') %>
              <%= age(lost_post.pet) %>
            <% end %>
            <% if lost_post.pet.male? || lost_post.pet.female? %>, <%= lost_post.pet.sex %>.
            <% end %>
            <% if lost_post.pet.sterilized? %><%= t('.sterile') %>
            <% end %>
            <% if lost_post.pet.breed? %>
              <%= t('.breed') %> <%= lost_post.pet.breed %>.
            <% end %><br>
            <b><%= t('.pet_place') %></b> <%= lost_post.place.name.truncate(30, omission: '...') %><br>
            <b><%= t('.contact_info') %> <%= link_to t('.master'), user_path(lost_post.pet.user), target: '_blank', class: 'text-dark text-decoration-underline' %>
              .</b></p>
        </div>

        <div class="text-center mb-3">
          <%= link_to t('.more_info'), post_path(lost_post), class: 'btn btn-dark m-2' %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="actions mt-3 mb-5 text-center">
    <%= link_to t('.get_more_info'), posts_path(category: :lost_pets), class: 'btn btn-dark m-2' %>
    <%= link_to t('.find_pet'), new_post_from_welcome_path(category_id: 8), class: 'btn btn-outline-dark m-2' %>
    <%= link_to t('.map'), root_path, class: 'btn btn-dark m-2' %>
  </div>
<% end %>
