<h4 class="text-center mt-5"><%= t('.heading_html') %></h4>

<div class="m-0 container mb-5 text-center row d-flex justify-content-center">

  <div class="card border border-dark pt-3 pb-3 mb-2 col-12 col-sm-5 ms-0 ms-sm-2 me-0 me-sm-2 col-lg-2">
    <%= link_to user_pets_path(@pets), class: 'text-dark' do %>
      <h5 class="p-0 m-0"><%= @pets.count %><br><%= pluralize_without_count(@pets.count, 'pet') %> <%= t('.add_html') %></h5>
    <% end %>
  </div>


  <div class="card border border-dark pt-3 pb-3 mb-2 col-12 col-sm-5 ms-0 ms-sm-2 me-0 me-sm-2 col-lg-2">
    <%= link_to posts_path(category: :lost_pets), class: 'text-dark' do %>
      <h5 class="p-0 m-0"><%= @pets.lost.count %><br><%= pluralize_without_count(@pets.lost.count, 'pet') %> <%= t('.lost_html') %></h5>
    <% end %>
  </div>

  <div class="card border border-dark pt-3 pb-3 mb-2 col-12 col-sm-5 ms-0 ms-sm-2 me-0 me-sm-2 col-lg-2">
    <%= link_to posts_path(category: :success_stories), class: 'text-dark' do %>
      <h5 class="p-0 m-0"><%= @pets.home_again.count %><br><%= pluralize_without_count(@pets.home_again.count, 'pet') %> <%= t('.home_html') %></h5>
    <% end %>
  </div>

  <div class="card border border-dark pt-3 pb-3 mb-2 col-12 col-sm-5 ms-0 ms-sm-2 me-0 me-sm-2 col-lg-2">
    <%= link_to posts_path(category: :pets_to_adopt), class: 'text-dark' do %>
      <h5 class="p-0 m-0"><%= @pets.to_adopt.count %><br><%= pluralize_without_count(@pets.to_adopt.count, 'pet') %> <%= t('.adopt_html') %></h5>
    <% end %>
  </div>

  <div class="card border border-dark pt-3 pb-3 mb-2 col-12 col-sm-5 ms-0 ms-sm-2 me-0 me-sm-2 col-lg-2">
    <%= link_to posts_path(category: :success_stories), class: 'text-dark' do %>
      <h5 class="p-0 m-0"><%= @pets.adopted.count %><br><%= pluralize_without_count(@pets.adopted.count, 'pet') %> <%= t('.success_html') %></h5>
    <% end %>
  </div>
</div>
