<% provide(:page_title, 'FindMyPet') %>

<div class="statistics" style="background-color: #ffe5d9;">
  <div class="container" id="statistics-content">
    <%= render 'statistics' %>
  </div>
</div>

<div id="map">
  <%= google_maps_api_script_initialize %>
  <%= google_maps_api_script_tag %>
</div>
</div>

<% unless signed_in? %>
  <div class="get-started-section text-center" style="background-color: #ffe5d9;">
    <div class="container pb-5">
      <h4 class="pt-5">WOULD LIKE TO TAKE PART IN PETS SEARCHING?</h4>
      <h1><i class="fa-solid fa-arrow-down"></i></h1>
      <%= link_to 'Get Started', new_user_registration_path, class: 'btn btn-dark' %>
    </div>
  </div>
<% end %>

<% if @pets.to_adopt.any? %>
  <div class="new-friends-section text-center" id="main-container">
    <div class="container mb-5">
      <h4 class="pt-5 pb-5"><%= t('.looking_html') %></h4>
      <%= render 'friends' %>
    </div>
  </div>
<% end %>
