<% provide(:page_title, 'FindMyPet') %>

<div class="statistics" style="background-color: #ffe5d9;">
  <div class="container" id="statistics-content">
    <%= render 'statistics' %>
  </div>
</div>

<div id="map-index">
  <div id="dataPosts" hidden>
    <% Post.all.each do |post|
      next if post.place.nil? %>
      <div
        class="card mb-3 border border-dark pet-card"
        data-id="<%= post.id %>"
        data-latitude="<%= post.place.latitude %>"
        data-longitude="<%= post.place.longitude %>"
        data-name="<%= post.title %>"
        data-content="<%= google_content post.content %>"
        data-category="<%= post.category_id %>"
        data-species="<%= post.pet.species %>">
      </div>
    <% end %>
  </div>
  <div id="map">
    <%= google_maps_tag %>
    <%= google_maps_initialize %>
  </div>
</div>
<div style="background-color: #ffe5d9;">
  <p class="text-center mt-2 mb-2"><%= image_tag("catGreen.png") %> <%= t('.foundĞ¡at') %>   <%= image_tag("dogGreen.png") %> <%= t('.foundDog') %>   <%= image_tag("catRed.png") %> <%= t('.lostCat') %>   <%= image_tag("dogRed.png") %> <%= t('.lostDog') %> </p>
</div>

<% unless signed_in? %>
  <div class="get-started-section text-center" style="background-color: #ffe5d9;">
    <div class="container pb-5">
      <h4 class="pt-5"><%= t('.would_html') %></h4>
      <h1><i class="fa-solid fa-arrow-down"></i></h1>
      <%= link_to t('.start'), new_user_registration_path, class: 'btn btn-dark' %>
    </div>
  </div>
<% end %>

<% if @pets.to_adopt.any? %>
  <div class="new-friends-section text-center" id="main-container">
    <div class="container mb-5">
      <h4 class="pt-5 pb-5"><%= t('.looking_html') %></h4>
      <%= render 'friends' %>
    </div>
  </div>
<% end %>

<div class="success-stories-section" style="background-color: #ffe5d9;">
  <%= render 'success_stories' %>
</div>

<div class="recently-lost-pets">
  <div class="container">
    <%= render 'lost_pets' %>
  </div>
</div>
