<div class="d-flex flex-column flex-md-row justify-content-md-end align-items-center justify-content-center">
  <% unless @posts.any? %>
    <p class="p-0 m-0 mb-2 mb-md-0">At the moment, there are no posts available.</p>
  <% end %>
  <% if params['category'] == 'lost_pets' %>
    <%= button_to 'I`ve Lost my Pet!', new_posts_post_path(category_id: 8), class: 'btn btn-dark ms-0 ms-md-4' %>
  <% elsif params['category'] == 'found_pets' %>
    <%= button_to 'I`ve Found a Pet!', new_posts_post_path(category_id: 9), class: 'btn btn-dark ms-0 ms-md-4' %>
  <% elsif params['category'] == 'pets_to_adopt' %>
    <%= button_to 'I Have a Pet to Adopt', new_posts_post_path(category_id: 10), class: 'btn btn-dark ms-0 ms-md-4' %>
  <% elsif params['category'] == 'success_stories' %>
    <%= button_to 'I Have a Story to Tell', new_posts_post_path(category_id: 11), class: 'btn btn-dark ms-0 ms-md-4' %>
  <% elsif params['category'] == 'recommendations' %>
    <%= button_to 'Share Recommendation', new_posts_post_path(category_id: 12), class: 'btn btn-dark ms-0 ms-md-4' %>
  <% end %>
</div>
