<div class="row justify-content-center">
  <div class="col-12 col-sm-10 col-md-7">
    <h4 class="text-center mt-5"><%= t('.recommendation') %>:</h4>

    <%= form_with model: @post, local: true do |f| %>

      <div class="text-center text-danger h5">
        <% if @post.errors.any? %>
          <% @post.errors.each do |error| %>
            <%= error.full_message %>
          <% end %>
        <% end %>
      </div>

      <div class="field mb-2">
        <%= f.label :title, t('.recommendationName') %>:
        <%= f.text_field :title, class: "form-control", required: true, placeholder: t('.name') %>
      </div>

      <div class="field mb-2 d-none">
        <%= f.label :title, t('.petSelect') %>:
        <%= f.collection_select(:pet_id, @pets, :id, :name, {}, { class: 'form-select' }) %>
      </div>

      <div class="field mb-2">
        <%= f.label :content, t('.shareRecommendation') %>:
        <%= f.rich_text_area :content, class: "form-control", placeholder: t('.share') %>
      </div>


      <div class="field d-none">
        <%= f.collection_select(:category_id, Category.all, :id, :name) %>
      </div>

      <div class="form_action text-center">
        <%= f.submit t('.publish'), class: "btn btn-dark" %>
      </div>
    <% end %>
  </div>
</div>
