<div class="row justify-content-center">
  <div class="col-7">
    <h4 class="text-center mt-5">Provide Info
      <% if @post.category.name == 'lost_pets' %>
        Necessary for Your Pet Search:</h4>
      <% elsif @post.category.name == 'found_pets' || @post.category.name == 'pets_to_adopt' %>
        Necessary to Find the Pet`s Master:</h4>
      <% elsif @post.category.name == 'success_stories' %>
        about your Pet Finding History:</h4>
      <% end %>

      <%= form_with model: @post, local: true do |f| %>

        <div class="text-center text-danger h5">
          <% if @post.errors.any? %>
            <% @post.errors.each do |error| %>
              <%= error.full_message %>
            <% end %>
          <% end %>
        </div>

        <div class="field mb-2">
          <% if @post.category.name == 'pets_to_adopt' %>
            <%= f.label :title, 'Please give the short description of the pet to be adopted:' %>
          <% else %>
            <%= f.label :title, 'Please give the short description of what has happened:' %>
          <% end %>
          <%= f.text_field :title, class: "form-control", required: true %>
        </div>

        <% if @pets.present? %>
          <div class="field mb-2">
            <%= f.label :title, 'Please, select the pet:' %>
            <%= f.collection_select(:pet_id, @pets, :id, :name, { prompt: 'select pet' }, { class: 'form-select', required: true }) %>
          </div>
          <p>If you haven`t added the pet yet, please do so on your
            <%= link_to 'profile page', current_user, class: 'text-dark text-decoration-underline' %>.</p>
        <% else %>
          <p>Please add pet on your
            <%= link_to 'profile page', current_user, class: 'text-dark text-decoration-underline' %> first.</p>
        <% end %>

        <div class="field mb-2">
          <%= f.label :content, 'Please give details:' %>
          <%= f.rich_text_area :content, class: "form-control" %>
        </div>

        <div class="field d-none">
          <%= f.collection_select(:category_id, Category.all, :id, :name) %>
        </div>

        <div class="form_action text-center">
          <%= f.submit "Publish", class: "btn btn-dark" %>
        </div>
      <% end %>
      </div>
</div>