<% @posts.each do |post| %>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-3">
    <div class="card p-0 h-100">
      <%= link_to post_path(post) do %>
        <% if post.category.name == 'recommendations' %>
          <%= image_tag('catndog.jpg', class: 'card-img-top w-100 rounded-0', style: 'height: 300px; object-fit: cover') %>
        <% else %>
          <% if post.pet.avatar.attached? %>
            <%= image_tag post.pet.avatar, class: 'card-img-top w-100 rounded-0', style: 'height: 300px; object-fit: cover' %>
          <% else %>
            <% if post.pet.cat? %>
              <%= image_tag("cat1.jpg", class: 'card-img-top w-100 rounded-0', style: 'height: 300px; object-fit: cover') %>
            <% elsif post.pet.dog? %>
              <%= image_tag("dog1.jpg", class: 'card-img-top w-100 rounded-0', style: 'height: 300px; object-fit: cover') %>
            <% end %>
          <% end %>
        <% end %>

        <div class="card-body text-dark">
          <p class="posted-by p-0 m-0 mb-2">Posted by <%= post.user.name %> <%= time_ago_in_words(post.created_at) %>
            <%= t('.ago') %></p>
          <h5 class="card-title fw-bold text-center p-0 m-0"><%= post.title %></h5>
          <p class="card-text"><%= truncate(strip_tags(post.content.to_s), length: 100, omission: '...') %><br>
            <% if post.pet.lost? || post.pet.found? %><b><%= t('.lostPlace') %>:</b> <%= post.place.name unless post.place.nil? %><br><b><%= t('.lostDate') %>:</b> <%= post.date.to_time.strftime('%B %e, %Y') unless post.date.nil? %>
            <% end %></p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
