<% @posts.each do |post| %>
  <div class="card p-0 m-4 col-md-4 col-lg-3">
    <%= link_to post_path(post) do %>
        <%= image_tag("avatar.png", alt: "Card image cap", class: 'card-img-top') %>
      <div class="card-body text-dark">
        <p class="posted-by">Posted by <%= post.user.name %> <%= time_ago_in_words(post.created_at) %> ago</p>
        <h5 class="card-title fw-bold"><%= post.title %></h5>
        <p class="card-text"><%= truncate(post.content, length: 100, omission: '...') %></p>
      </div>
    <% end %>
  </div>
<% end %>
