<h5><b><%= t('.petInfo') %></b></h5>
<h6><b><%= t('.name') %></b> <%= word_wrap(@post.pet.name) %></h6>
<h6>
  <% if @post.pet.breed? %><b><%= t('.breed') %></b> <%= word_wrap(@post.pet.breed) %>
  <% end %></h6>
<h6><b><%= t('.sex') %></b> <%= @post.pet.sex %></h6>
<% if @post.pet.date_of_birth && age(@post.pet) > 0 %>
  <h6><b><%= t('.age') %></b> <%= age(@post.pet) %></h6>
<% end %>
<h6>
  <% if @post.pet.sterilized? %><b><%= t('welcome.lost_pets.sterile') %></b>
  <% end %></h6>
<h6><b><%= t('.color') %></b> <%= word_wrap(@post.pet.color) %></h6>
<h6 style="word-wrap: break-word;">
  <% if @post.pet.additional_info? %><b><%= t('.addInfo') %></b> <%= word_wrap(@post.pet.additional_info) %>
  <% end %></h6>
