<h5><b><%= t('.petInfo') %>:</b></h5>
<h6><b><%= t('.name') %>:</b> <%= @post.pet.name %></h6>
<h6>
  <% if @post.pet.breed? %><b><%= t('.breed') %>:</b> <%= @post.pet.breed %>
  <% end %></h6>
<h6><b><%= t('.sex') %>:</b> <%= @post.pet.sex %></h6>
<h6><b><%= t('.age') %>:</b> <%= age(@post.pet) %></h6>
<h6>
  <% if @post.pet.sterilized? %><b><%= t('welcome.lost_pets.sterile') %></b>
  <% end %></h6>
<h6><b><%= t('.color') %>:</b> <%= @post.pet.color %></h6>
<h6 style="word-wrap: break-word;">
  <% if @post.pet.additional_info? %><b><%= t('.addInfo') %>:</b> <%= @post.pet.additional_info %>
  <% end %></h6>
<% if @post.category.name == 'lost_pets' %>
  <h6><b><%= t('.dateLost') %></b> <%= @post.date %>.</h6>
<% elsif @post.category.name == 'found_pets' %>
  <h6><b><%= t('.foundDate') %></b> <%= @post.date %>.</h6>
<% end %>
